[2015-02-09 19:17] davclark opened #1 "Ask for consulting on the university network, sensor network, experimenting side of things"
Should be assigned to @postfalk - who is working on this

[2015-02-09 19:20] davclark opened #2 "Get gateway server"
- [x] Get machine?
- [x] Needs to be on a local physical subnet
- [x] ip
- [x] security setup
- [ ] create isolated subnet
- [ ] might need two Ethernet cards

[2015-02-09 19:26] davclark opened #3 "Basic supplies"
- [x] ask whether we could use one of the little fish bowls as a hacker station (which can be still used for other things but will hold a modest amount of stuff - at home I get away with three boxes)
- [x] scope / get some basic supplies

[2015-02-09 19:27] davclark opened #4 "Initial framework for coordination"
- [x] github
- [ ] google docs
- [ ] invite everyone to participate

[2015-02-09 19:42] postfalk commented on #2
Maybe we should start with a very modest machine (~ $200) that can run a regularly updated standard operating system (Debian, Ubuntu) fulfilling university requirements before we get into buying more expansive hardware. IST wants to see that the operating system gets security patches in a timely manner otherwise they will block the IP. Happened to us with a machine running Ubuntu 13.10 two months

[2015-02-09 20:01] postfalk commented on #1
From Aaron Culich:

[Domenico Caramagno](http://citris-uc.org/person/domenico-caramagno/) in CITRIS probably has the most direct experience with this in collaboration with faculty research in EECS who instrumented SDH (Sutardja Dai Hall) related to work in sensor networks and [Software-Defined Buildings](http://sdb.cs.berkeley.edu/sdb/), such as [SinBerBEST](http://crest.berkeley.edu/sinberbest.ht

[2015-02-09 20:26] postfalk commented on #3
_BASIC SUPPLIES_

A small collection of products:
- very basic
  contains soldering basics, basic tools (wire cutters etc.), some wire http://www.adafruit.com/product/136
  https://www.sparkfun.com/products/13087
- somewhat advanced
- advanced
- other must haves
  starter kit parts, https://www.sparkfun.com/products/10003
  resistors, https://www.sparkfun.com/products/10969
  breadboards, https://

[2015-02-09 20:32] postfalk commented on #1
@kevkoy We probably need to name/establish a security contact at the BIDS if we go down this route. Another option would be to ask the person (at the library) who is in charge of our network anyway to take this on which would be one additional IP for now.

[2015-02-09 21:04] davclark commented on #1
I'm already a campus security contact for D-Lab. I can be this.

[2015-02-09 21:08] davclark commented on #1
Also - we may want to rope the Siemens folks into this stage before we settle on protocols. That said, I'm guessing Bluetooth LE will be the fastest route, as I've started messing with this on the raspi, and one of our undergrads has also bluetooth experience.

[2015-02-09 21:23] postfalk commented on #1
Yes, just saw Aaron, he also suggested something other than Wifi. Bluetooth
is probably great. However, still attached to an Ethernet, Wifi subnet just
since it does not need any other hardware. On the other hand, we could just
do Arduinos with Bluetooth shields which might be cheaper.

Falk

On Mon, Feb 9, 2015 at 1:08 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD

[2015-02-10 00:09] postfalk opened #5 "Address privacy concerns/develop policies"
Since we are moving on this, I heard some concerns recently. I think we should take following steps:
- [x] discuss among BIDS fellows
- [ ] ~~develop policy~~
- [ ] ~~design signs that makes people aware of every sensor, what they do, and collect~~
- [ ] make data streams public (?), paradox: if we could make them public, privacy will be met
- [ ] ~~create repo where people can address concerns as

[2015-02-10 01:00] postfalk opened #6 "Places for sensor dumps"
free, https://data.sparkfun.com/
commercial, https://xively.com/

[2015-02-10 02:33] davclark opened #7 "Get URAP students signed up for space-hackers"
### GitHub

Please leave a comment below with your username!

If you don't have a github account yet, please make one! And don't forget to "request a discount" for 5 free private repos (for your own projects) [here](http://education.github.com).

Once you do have a github id, please post to the above issue, and I'll add you to the team so we can collaborate on code. Don't worry if you don't know h

[2015-02-10 05:21] jesscxu commented on #7
Hey this is Jessica! My username is: [jesscxu](https://github.com/jesscxu).

[2015-02-10 05:36] dianecw commented on #7
Hi this is Diane, username: dianecw

[2015-02-10 05:41] postfalk commented on #3
We decided to create a shopping list not exceeding $1000. Kevin gave green light.

[2015-02-10 09:35] KishPatel1996 commented on #7
Hey guys, I'm Kishan Patel.  Username:KishPatel1996

[2015-02-10 18:31] postfalk opened #8 "Things to learn for sensing"
In our small sensor project, we will explore the entire path from sensing physical characteristics, cleaning, storing, processing data through a network of servers, eventually making sense of data, and deliver content to web users.

The Siemens Network of Things Research Group will help us and we would like to implement parts of their [Activity Stream](http://en.wikipedia.org/wiki/Activity_stream)

[2015-02-10 21:21] postfalk opened #9 "Do you have an empty ansible project structure we could bootstrap?"
Otherwise I will create or find one in the next few days.
Falk

[2015-02-10 21:24] postfalk commented on #3
@davclark Schedule work meeting for finalizing list in BearBuy. Next week? After some more research.

[2015-02-10 22:23] davclark commented on #9
If you give me a plain English description, I'm happy to make a playbook. I
only have a playbook for installing data science tools.
On Feb 10, 2015 1:21 PM, "Falk Schuetzenmeister" notifications@github.com
wrote:

[2015-02-10 22:26] postfalk commented on #9
I think about a proven expandable folter structure. But that seems not be
too hard to create from the docs. Just lazy to retype everything. I can
take care of this.
Falk

On Tue, Feb 10, 2015 at 2:23 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 M

[2015-02-10 22:57] davclark commented on #9
Just start with everything in one big file! It's easy to refactor as things
get larger.

On Tue, Feb 10, 2015 at 2:26 PM, Falk Schuetzenmeister <
notifications@github.com> wrote:

[2015-02-10 22:58] davclark commented on #3
Generally, if my calendar is free, you are welcome to book it. I think this
should be doable in about an hour.

On Tue, Feb 10, 2015 at 1:24 PM, Falk Schuetzenmeister <
notifications@github.com> wrote:

[2015-02-10 23:26] dani-lbnl commented on #3
Can we add some more stuff:
- soldering metal (white soldering, lead free?) and the solder
- batteries
- pliers and wire cutters (if not as part of any starter kit, usually not)
  thx
  Dani

Best Regards,

## Dani

Daniela Ushizima, PhD.
Head Deputy of the Visualization Group
Research Scientist, Lawrence Berkeley National Lab.
BIDS Data Scientist, University of California, Berkeley
1 Cyclotron Ro

[2015-02-10 23:45] postfalk commented on #3
@dani-lbnl Does this look sufficient for a first pass: http://www.adafruit.com/product/136? If not make a or more wishes.

[2015-02-12 05:35] #9 closed, assigned to davclark

[2015-02-12 05:36] postfalk commented on #3
They are ordered. Issue will be closed when they arrive :+1:

[2015-02-12 05:56] postfalk opened #10 "Discuss requirements"
Dear all,

I am looking forward to meet you all next week and I am very excited to get started on this project. @davclark and @postfalk ordered a small computer, Arduinos, blue tooth equipment, and sensors. I think we did a pretty good job and will be able to work hands-on as soon as the boxes arrive.

Here is a first pass on our thoughts on requirements and specs which implicitly guided or purcha

[2015-02-12 23:49] postfalk commented on #5
At our today's, fellow meeting we came to the conclusion that there is only very limited support for automatically collecting data on the use of the BIDS space in DOE 190. Fellows suggested all kinds of well-thought-out policies to deal with these issues.

However, me (@postfalk) and @davclark do not have the capacity to work and implement such procedures and we doubt that they will make people ha

[2015-02-12 23:52] #1 closed, assigned to nobody

[2015-02-13 18:53] davclark commented on #5
I'm going to propose a privacy / policy / ethics session this semester in the Tech4Measurement seminar I'll be organizing w/ the Social Science Matrix this year (we're having a planning lunch next Wednesday at 12:30 if you'd like to join). I'm going to call this essentially migrated off of our development path. Re-open if you'd like to continue the conversation here!

[2015-02-13 18:53] #5 closed, assigned to nobody

[2015-02-13 21:41] davclark commented on #7
Thanks everyone! I'll be getting learning contracts out over the weekend, and @sbenthall will be reaching out to organize our first in-person to get folks onto Slack for group communication, and start getting our hands dirty! Ideally, though, sign up ahead of time here:

https://glass-bead.slack.com

[2015-02-13 21:41] #7 closed, assigned to nobody

[2015-02-17 23:10] davclark commented on #10
From the meeting today: can we implement something like a "Do Not Track" option in some cases?

[2015-02-18 17:27] postfalk commented on #10
I think at this point we should stick with the plan of exploring the full stack to identify the problems along the data travel which are directly connected to the data model/provenance question. Let's see with what practical ideas our students come up with (have surely some backup) and give work assignments for students where they are interested/knowledgeable.

[2015-02-18 18:21] davclark opened #11 "Collect lessons / resources from existing projects"
- [ ] BID space
- [ ] GoogleX resource (from Kevin)
- [ ] Conference in Ireland (Dav has this)

[2015-02-18 18:27] davclark opened #12 "Develop initial dashboard mock-up"
What will visualizations of our sensor data look like?

[2015-02-18 18:32] davclark opened #13 "Investigate using mobile phone as sensor or bluetooth hub for our dedicated sensors"

[2015-02-18 19:17] davclark opened #14 "Collect list of on-campus maker resources"
For example, Invention lab, Marvell Nanolab, Social Apps Lab (get links!). This is a task for everyone.

[2015-02-18 19:43] davclark commented on #11
A bit about the maker community from Dean Carson:

http://www.theatlantic.com/technology/archive/2015/01/why-i-am-not-a-maker/384767/

[2015-02-18 19:46] dianecw commented on #14
[CITRIS Invention Lab](http://invent.citris-uc.org/) - Rapid prototyping space with 3D-printers, laser cutters, etc.
[Marvell Nanolab](http://nanolab.berkeley.edu/) - Micro- and nano- fabrication tools for creating sensors.
[TI Electronic Design Lab - Hackerspace](http://www.eecs.berkeley.edu/Cory/TI/) - Instructional EE labs with EE resources, not sure about accessibility.
To consider: Other CITR

[2015-02-18 22:40] postfalk commented on #11
Thx, Dav for the good read. The good thing that comes out of it is a
greater accessibility to technology. But, yes it sort of a cult.
Falk

On Wed, Feb 18, 2015 at 11:43 AM, Dav Clark notifications@github.com
wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 Mulford Hall
94720 Berkeley, CA

[2015-02-18 23:23] postfalk commented on #14
@davclark Do you think we could get an introduction and access to CITRIS?

The Marvell place looks amazing but probably somewhat over our heads.

[2015-02-19 04:44] postfalk opened #15 "Wire up BlueTooth to Arduinos"
Here are some instructables

http://www.instructables.com/id/how-to-Control-arduino-by-bluetooth-from-PC-pock/
https://learn.adafruit.com/bluetooth-temperature-and-humidity-sensor/arduino-sketch
http://makezine.com/projects/connect-an-arduino-to-a-7-bluetooth-serial-module/
http://www.instructables.com/id/Connect-Arduino-Uno-to-Android-via-Bluetooth/

I hope to figure the basics out over the weeke

[2015-02-20 23:52] davclark commented on #14
This is apparently free (and @arjunmehta94 in the taichi group is already a member!): http://supernode.berkeley.edu

[2015-02-23 01:37] dianecw commented on #14
I just wanted to leave a note that I just won access to the CITRIS invention lab through a hackathon, and will have access this semester. It also sounds like they are pretty lax about bringing other people into the lab, so I can swipe one or two people in with me anytime!

I'll be doing safety training on Wednesday, so I can give more feedback after then.

[2015-02-23 02:09] davclark commented on #14
Congrats Diane! And I look forward to checking out the invention lab...
On Feb 22, 2015 5:37 PM, "Diane Wang" notifications@github.com wrote:

[2015-02-23 07:07] KishPatel1996 commented on #13
#### Using phones as sensors:

###### Android

There is a pretty interesting article on [Instructables](http://www.instructables.com/id/Use-your-android-phone-sensors-on-the-arduino-/?ALLSTEPS)  about connecting an Arduino to an Android handheld to gather data and access its sensors.

Off the shelf solutions for accessing android sensors:
- https://play.google.com/store/apps/details?id=com.lab4u.l

[2015-02-23 19:24] postfalk commented on #13
Thank you, did the same thing and I think the Android route sounds most
reasonable to get started. Who in the group has an Android?

Falk

On Sun, Feb 22, 2015 at 11:07 PM, Kishan Patel notifications@github.com
wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 Mulford Hall
94720 Berkeley,

[2015-02-24 02:14] dianecw commented on #13
I have an Android phone as well as an Android tablet- I can bring both to the work session tomorrow.

[2015-02-24 03:50] postfalk commented on #13
Great. We will probably not get to that tomorrow. However, if our shipment
is there you could get started on your own.

I think tomorrow we start to work with APIs.
Next week basic arduino.
After that we will create our first basic implementations.

Just eye-balled this should talk about timeline at next meeting.

See you tomorrow.

Falk

On Monday, February 23, 2015, Diane Wang notifications@gith

[2015-02-24 18:05] postfalk opened #16 "Collect list of sensor-oriented webpages/services"
Data canvas
http://datacanvas.org/sense-your-city/

Data canvas, sense your city
http://map.datacanvas.org/

Berkeley Ecoinformatics Engine
https://ecoengine.berkeley.edu/api/sensors/

Documentation:
https://ecoengine.berkeley.edu/docs/quickstart.html

[2015-02-24 22:52] davclark opened #17 "Write adapter for GitHub API to ASBase"
- [x] Pull data from github API for `https://github.com/glass-bead-labs` repositories using requests
- [x] Post data to ASBase

Can you see this issue? Can you see the commit that solves the issue (and each sub-component)? Can you see whether the issue was automatically closed or whether it was manually closed?

[2015-02-24 23:38] davclark opened #18 "Send draft project / milestone document to Siemens"

[2015-02-24 23:39] davclark opened #19 "Prepare DSE-oriented proposal to get on the same page with Neal Davies"
An initial document, maybe pulling in @dani-lbnl and @kevkoy to set a direction with the Moorea project. Part of this could be folded into the Siemens Proposal (#18).

[2015-02-24 23:43] davclark commented on #17
In collaboration with @KishPatel1996.

[2015-02-25 00:28] dianecw commented on #17
Made a basic issue tracker that pulls issues from this repository and posts basic information about the issue to ASbase. Doesn't cover information about solving issues/closed issues.

[2015-02-25 01:14] smnmyr commented on #17
Sounds great! Is that information posted to ASbase already? What's its basic structure?

[2015-02-25 01:38] davclark opened #20 "Agenda for Feb 25, 2015 Meeting"
1. Report out on work-in-progress
   1. pulling data from GitHub API (general HTTP+JSON interfaces)
   2. work towards dynamic visualizations
   3. state of purchasing / sensors
2. Plans for next week
   1. Whiteboard: overview of what we'll do with sensors (provide reading)
   2. Scheduling
3. Make sure everyone is on Slack, GitHub, etc.

[2015-02-25 01:41] dianecw commented on #17
Yep, we posted the current issues in this sensor-group repository to the database. Every time we run our python script, it posts issue creator info (github url, creator id, creator github username), issue url/id, and repository info (github url, id, name) to the database. This is in the data format specified on the ASbase API.

Right now, we're working on functionality to only post new data if the

[2015-02-25 01:44] postfalk commented on #20
A little bit chaotic but the important terminology is there.

https://en.wikipedia.org/wiki/Sensor

For the application level it means to create a data model that can deal
with crazy states of  sensors. Malfunction seems to be the ideal event for
detection.

We could also think a little bit about state vs. change (event, activity).

Looking forward to this,
Falk

On Tue, Feb 24, 2015 at 5:38 PM, D

[2015-02-25 01:49] davclark commented on #20
From @smnmyr:

I wanted to get back to you about the topic of activity modeling: When you guys create activities to push to ASbase, I think it'd be a good idea to make everyone adhere to a process along these guidelines (more details here: http://dret.net/lectures/iot-spring15/rest from slide 34)
1. Try to use verbs and objects that are already defined in the activity schema, here http://activitys

[2015-02-25 18:27] davclark commented on #20
Falk will run PostgreSQL workshop during the Wed 10am time slot (around March 28th and April 4th)

Folks focusing on web viz can float to other meetings, for example, the Monday 3pm meeting.

[2015-02-25 20:14] postfalk commented on #20
Should we close this now?

[2015-02-25 22:43] KishPatel1996 commented on #17
There seems to be an issue with the way the Activity Stream is displaying the target information

Here is an example:
Actor davclark does/did/had issue with/to 57076355 at 19:20:08 (2015-02-09)

Instead of taking the name of the target, it seems to be displaying the id even though the fields have been entered correctly.  Is this the way the stream was designed, or have we missed something?

[2015-02-25 22:59] smnmyr commented on #17
That behavior is intended. Indeed, the 57076355 thing is the object that davclark worked on, not the target (and the object doesn't have a displayName). Since the target is not used in lots of Activity Streams, the platform is not considering it in the digests on the front page - you are able to see the entire activity in the /query resource though, here: http://russet.ischool.berkeley.edu:8080/qu

[2015-02-25 23:07] #20 closed, assigned to KishPatel1996

[2015-02-25 23:13] smnmyr commented on #17
I updated the server to display more information about the activities (incl. the target) on the front-page digest.

[2015-02-26 03:41] KishPatel1996 commented on #17
Ah, understood.  Right now, "issue" is a placeholder since we haven't added some functionality yet (checking for updates, seeing if any issues were closed, etc).  @dianecw and I will be meeting up tomorrow from 2 to 4 to complete this.  We'll add more descriptive words at that point.

Also, thanks for the activitystrea.ms link.  Really helpful!

[2015-02-26 05:01] davclark commented on #17
And along those lines, don't forget these recommendations from @smnmyr:

When you create activities to push to ASbase, adhere to a process along these guidelines (more details here: http://dret.net/lectures/iot-spring15/rest from slide 34)
1. Try to use verbs and objects that are already defined in the activity schema, here http://activitystrea.ms/registry/verbs/
2. If that doesn't feel fully righ

[2015-02-26 21:33] postfalk opened #21 "Agenda Tuesday 3/10: Arduino Xmas"
- Xmas - unpacking Arduinos and sensors
- Get LED 13 blinking (aka Arduino basics)
- Use other pins, introduction into C, Wire.h

[2015-02-26 22:42] KishPatel1996 opened #22 "ASBase Queries All Failing"
We are having trouble querying information from the ASBase.

Can someone check if this is an issue with the database, or are we using it improperly?
@smnmyr  @davclark

 **Here are some examples that we have tried, all of which are returning "request failed."**
http://russet.ischool.berkeley.edu:8080/query?startTime=2015-02-24
http://russet.ischool.berkeley.edu:8080/query?startTime=2015-02-22&endT

[2015-02-26 22:56] smnmyr commented on #22
Fixed. Thanks!

[2015-02-26 23:12] dianecw commented on #22
Looks like all the queries are now returning
"{"totalItems":0,"@type":"http://activitystrea.ms/2.0/Collection","items":[]}".

We've tried simple and advanced queries, by date and repository name etc.

[2015-02-26 23:43] smnmyr commented on #22
Yes, the query http://russet.ischool.berkeley.edu:8080/query?startTime=2015-02-24 returns 0 items. I cannot find a mistake, however. Did you put activities into the DB with a startTime > 2015-02-24?

I can find your uploads using the query `POST http://russet.ischool.berkeley.edu:8080/query`
and contents `Content: { "verb" : { "$in" : [ "issue" ] } }`

[2015-02-27 00:01] dianecw commented on #22
Great, I think I got it working. Thanks for your quick responses!

[2015-02-27 00:01] #22 closed, assigned to nobody

[2015-02-27 00:07] KishPatel1996 opened #23 "Test Issue"
please ignore

test update

[2015-02-27 00:29] #23 closed, assigned to nobody

[2015-02-27 00:30] KishPatel1996 opened #24 "Constant Running Test Issue (IGNORE)"
please ignore

test update

[2015-02-27 00:31] #24 closed, assigned to nobody

[2015-02-27 00:37] dianecw commented on #17
Quick Update: We got it working! The database updates when you run the script if any issues have been created, updated, or closed since the last post. We'll add continuous stream functionality later. @KishPatel1996  is adding some verbs and functionality, but the basics are all there.

Note: I'm using a temporary personal authentication token, which needs to be reset after a certain amount of time

[2015-02-27 00:41] KishPatel1996 commented on #17
We have completed the git issue tracker program!  It updates the ASBase depending on whether an issue has been created (create), updated (update), and closed (close).

The program currently runs every 10 seconds.  Is there a more efficient way to keep the program running other than a while loop?

[code]

[2015-02-27 00:59] smnmyr commented on #17
Nice work! Since github doesn't have an event-based API, this is the way to do it ;-)

[2015-02-27 01:32] KishPatel1996 commented on #17
Does the GitHub API support getting the user who last commented on an issue?

[2015-02-27 01:35] dianecw commented on #17
Looks like they do [here](https://developer.github.com/v3/issues/comments/), but it might take some time to figure out how it works.

Basic list of all comments on this specific issue [here](https://api.github.com/repos/BIDS/sensor-group/issues/17/comments)

[2015-02-27 01:35] KishPatel1996 opened #25 "final test (ignore)"
ignore

[2015-02-27 01:42] #25 closed, assigned to nobody

[2015-02-27 01:46] KishPatel1996 commented on #17
@dianecw   It seems like the code is now reporting "Bad credentials," most likely from the auth parameter of requests.get.

The code runs without the authentication, but it eventually gets this ...

'https://developer.github.com/v3/#rate-limiting', 'message': "API rate limit exceeded for 136.152.125.124. (But here's the good news: Authenticated requests get a higher rate limit. Check out the docum

[2015-02-27 02:05] dianecw commented on #17
@KishPatel1996  Yeah, I added a note above. I got around that by generating a temporary authentication key from my account (you can do it too from settings -> applications -> personal web tokens). I need to regenerate it every session. If we want a more permanent solution, we'll have to learn how to use OAuth, which I don't have experience with but am willing to learn for the future.

[2015-02-27 15:51] davclark commented on #17
I can give you some pointers on using oauth, that side of things can be hairy. Let me know if you want assistance!

[2015-02-27 16:57] postfalk commented on #17
Good work. There is a (at least one) Python library supporting oauth
(oauthlib) as well as an integration of this library into requests
requests/requests-oauthlib · GitHub
https://github.com/requests/requests-oauthlib

Falk

On Fri, Feb 27, 2015 at 7:51 AM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.

[2015-02-27 20:56] KishPatel1996 commented on #17
I believe we need to "register a new OAuth Application."  Here is the link

https://github.com/settings/applications/new

[2015-02-27 21:32] postfalk commented on #17
That might or might not be correct. I think what you are looking at is a
way to use Github's authorization system as an authorization layer for a
third party app. You surely know that principle from web pages asking you
to log-in with facbook, google+, or github. This the core use case for
OAUTH.

What you want to do is to just login to github. More along those lines ...

https://developer.github.

[2015-02-28 01:44] davclark commented on #17
The standard approach I've seen other apps use is OAuth tokens (not username / password). That said, I'm going to suggest that while we are developing an "app" - it's not going to ask users to generate keys. I think probably the right approach is to use personal access tokens (accessible from the same root page):

https://github.com/settings/applications

"Personal access tokens function like ordi

[2015-03-02 17:41] postfalk commented on #17
That is correct. However, in some instances tokens expire, in this case you
might need to request a new token first. However, for github.com it looks
like you can create this token with the online form and it does not expire.
So Dav's way should work.

Falk

On Fri, Feb 27, 2015 at 5:44 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospati

[2015-03-02 18:55] KishPatel1996 commented on #17
ok, i generated a key and added it to the file.  Should work

[2015-03-02 20:32] davclark commented on #17
Generally, it's good practice to read keys from an external file, and not commit them to the repo. That said, as long as you don't mind the world having the permissions associated with that key, I don't think it's a problem, but it would be good to refactor the key into a separate file just to get into the practice.

[2015-03-02 20:52] KishPatel1996 commented on #17
It seems that github revokes the Key if I commit it to a public repo, which most likely happened in the first case.

For reading from an external file, how would I set that up with the server in mind?

[2015-03-02 21:30] postfalk commented on #17
Your external key would be just a file in your project but you would
.gitignore it. Once it is there, you can get the key by

f = file('filename', r)
key = f.read().strip() # I put strip here to make sure that new line or
spaces do not interfere with the key's working.
f.close()

On Mon, Mar 2, 2015 at 12:52 PM, Kishan Patel notifications@github.com
wrote:

##

Falk Schuetzenmeister, PhD
Web Appli

[2015-03-02 21:34] davclark commented on #17
Or, with more modern python:

[code]

D

On Mon, Mar 2, 2015 at 1:30 PM, Falk Schuetzenmeister <
notifications@github.com> wrote:

[2015-03-02 23:42] KishPatel1996 commented on #17
Moved the authentication key to an external file.

The file will need to be named  `GitHubAuthKey.txt` and be in the  `github-api/` directory.

Other than that, I think we are done.

[2015-03-03 19:01] postfalk opened #26 "Please add documentation how to install access token in external file."
You could move your work into a folder (and eventually to its own repo) and at a README.md file.

[2015-03-03 19:22] postfalk opened #27 "Introduction in D3.js"
Since we decided to do this yesterday it will be somewhat a ad-hoc introduction. I will mostly cover the DOM manipulation capabilities of D3.js (and exemplify them with some graphic examples).

[Three little circles](http://bost.ocks.org/mike/circles/) is always a good start. See also http://bost.ocks.org/mike/bar/ and of course d3js.org

Javascript is a somewhat crazy language mainly because it h

[2015-03-03 20:25] dani-lbnl commented on #27
Where will it be? may i join.
On Mar 3, 2015 11:23 AM, "Falk Schuetzenmeister" notifications@github.com
wrote:

[2015-03-03 21:25] postfalk commented on #27
Sure it will be at 4pm (we meet at BIDS at 3:30 but will really start at 4pm). It will be really basic though since we did not decide before yesterday to do it.

Falk

[2015-03-03 23:30] KishPatel1996 commented on #26
Added README

[2015-03-04 02:19] postfalk opened #28 "Cleanup example code from d3 tutorial and create bl.ocks.org example"

[2015-03-04 05:02] postfalk commented on #27
**More d3.js**

It was fun to do some d3.js today. I would like to point out a few more resources.

On Friday 3/13, Kai Chang of [Stamen Design](http://stamen.com/) will present his work at our weekly Data Science Lecture. In the second half of the two hour meeting, he will life code a new visualization from scratch using [Ecoengine](https://ecoengine.berkeley.edu) Data (an API I have been develop

[2015-03-04 05:04] postfalk commented on #27
There is also a meetup group providing introductions and presentations on advanced topics:

http://www.meetup.com/Bay-Area-d3-User-Group/

[2015-03-04 07:10] KishPatel1996 commented on #17
Should we be looking towards other APIs?  I know Slack has an extremely friendly API and we can probably implement it in a couple of hours top.

[Slack API](https://api.slack.com/)

[2015-03-04 17:03] postfalk commented on #17
Sounds great. We could also think what kind of visualization would be
useful for the ASBase. We could start with something like circles for every
event and then assign properties specifying this event. We did not get to
d3.json yesterday but we could discuss this briefly next week (or on
Friday).

On Tue, Mar 3, 2015 at 11:10 PM, Kishan Patel notifications@github.com
wrote:

##

Falk Schuetzenmeis

[2015-03-04 18:00] postfalk commented on #27
Here is the cleaned up code from yesterday's session.

http://bl.ocks.org/postfalk/f0d3ceddd49f0c6fa029

[2015-03-04 18:15] #28 closed, assigned to nobody

[2015-03-04 18:16] postfalk commented on #26
@KishPatel1996 Do you think this one could be closed? Go ahead if you think so.

[2015-03-04 18:17] postfalk commented on #4
@davclark Can we consider this one as done?

[2015-03-04 18:30] postfalk opened #29 "Doc strings are usually placed underneath the first line of a function/class declaration"
[code]

From this documentation and even unit tests can be generated automatically. You could stuff your entire documentation text there (which is only feasible for smaller projects.) See https://www.python.org/dev/peps/pep-0257/

[2015-03-04 19:45] postfalk commented on #27
Moved to Wiki: https://github.com/BIDS/sensor-group/wiki/D3-Overview

[2015-03-04 19:45] #27 closed, assigned to nobody

[2015-03-04 19:47] postfalk opened #30 "Agenda Tuesday 3/17: Dashboard"
Create first version of a dashboard

[2015-03-04 19:48] davclark commented on #26
Actually, in your commit message (in the future), you can add, e.g., "closes #26" and GitHub will auto-close the issue and refer to the commit.

[2015-03-04 19:50] postfalk opened #31 "Agenda Friday 3/20: Requirements"
- discussing requirements for what we could achieve by the end of the semester
- review project structure
- create github repo

[2015-03-04 19:53] postfalk opened #32 "Agenda 3/31: Postgres and Bluetooth"
- Introduction into Postgres together with the Clean web group (4pm to 5pm)
- Use bluetooth to connect sensors to server and aggregator

[2015-03-04 19:55] postfalk opened #33 "Agenda 4/7: Tying everything together"
Tying everything together

[2015-03-04 19:57] postfalk commented on #10
Duplicates #31

[2015-03-04 19:57] #10 closed, assigned to nobody

[2015-03-04 20:19] KishPatel1996 commented on #17
OK, I'll work on that tomorrow (Thursday).  Maybe i can also create a Slackbot that posts updates to issues and such onto the #space-hackers group.

[2015-03-04 20:22] KishPatel1996 commented on #26
Ah, didn't know that.  Definitely will come in handy.

I'll close it.

[2015-03-04 20:22] #26 closed, assigned to KishPatel1996

[2015-03-05 05:03] postfalk commented on #15
I managed to connect an Arduino to my laptop using Bluetooth, I used this tutorial to get it up and running on Ubuntu http://mcuoneclipse.com/2013/06/19/using-the-hc-06-bluetooth-module/. There are a lot of steps to manually establish the connection which have to be integrated into a server code so that sensors can automatically come on and offline.

The cheap Bluetooth module I am using is simply

[2015-03-05 19:17] KishPatel1996 opened #34 "Add Slack Integration"
add slack integration so that the new comments are posted onto ASBase.

Also look into creating a slackbot just for fun

[2015-03-06 05:15] KishPatel1996 commented on #34
There may be a slight problem with using Slack's API.  It seems that Slack uses timestamps instead of, well, normal time format.  Each timestamp is independent of other channels.  They only offer insight into the channel it originated from.

ie: 1359414002.000003 is a timestamp.

[2015-03-06 18:54] postfalk commented on #31
Quick check-in: Is everyone ok with the fact that this very important session is during spring break or should we move it?

[2015-03-06 18:57] postfalk commented on #32
I am in contact with Eric's CleanWeb group. We might use this date for an introduction in Postgres/PostGis but this is not confirmed yet.

I think we can get the bluetooth topic out of the way sooner.

[2015-03-06 18:58] dianecw commented on #31
I'll be home for spring break (3/21-3/29), so I won't be able to make it. Could this meeting be moved earlier? Even though I'll be home, I'll be spending most of my time working so it'd be great to have things to work on over break.

[2015-03-06 19:00] postfalk commented on #15
Next step (note to myself): Move blue-tooth communication to software serial to avoid conflict with serial programmer/boot loader.

[2015-03-06 19:02] postfalk commented on #31
What about Friday 3/20 in parallel to the Tai Chi group (2pm-5pm). Cannot
confirm yet (depends on the Postgres intro).

On Fri, Mar 6, 2015 at 10:58 AM, Diane Wang notifications@github.com
wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 Mulford Hall
94720 Berkeley, CA

schuetzenmeister@b

[2015-03-06 19:15] postfalk commented on #31
Should we move this to 3/20 2pm to 4:45pm. I could confirm this time if everyone would be in board.

[2015-03-06 19:16] dianecw commented on #31
This is fine with me, thank you!

[2015-03-06 19:21] postfalk commented on #31
Let's see whether it works for @KishPatel1996 and @jesscxu as well. And confirm next week.

[2015-03-06 19:52] jesscxu commented on #31
That is fine with me too!

[2015-03-06 21:06] davclark commented on #34
I added a question here: https://github.com/slackhq/slack-api-docs/issues/7

[2015-03-06 21:08] davclark commented on #29
What is the issue-tracker label for? Maybe we should have a wiki page about our labelling conventions?

[2015-03-06 21:55] KishPatel1996 commented on #34
wonderful, thanks

[2015-03-06 21:56] KishPatel1996 commented on #31
I have a flight from SFO at 9:30pm on the 20th.  2 to 4:45 should be fine.

[2015-03-07 00:14] postfalk commented on #29
issue-tracker is for the actual github-issue-tracker, people are working
on. We are getting in some self-referential problems here. For this reason
we should move actual software in a different repo.

Falk

On Fri, Mar 6, 2015 at 1:08 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

Univ

[2015-03-07 00:33] postfalk commented on #15
Thats where I am at for the weekend:

https://gist.github.com/postfalk/604d667da192a86d8534

This setup still needs to manually pair and connect the bluetooth device and then copying the device socket name (e.g. `/dev/rfcomm1`) in your code.

I found a way to do that in Python but did not tie it together yet.

Have a nice weekend.
Falk

[2015-03-07 03:08] davclark opened #35 "Web graphic for system architecture"
Start with the PDF I sent you. Assign to @mgalemmo once she accepts the invite.

[2015-03-07 03:09] davclark commented on #12
@mgalemmo will help this along by providing some initial example graphs.

[2015-03-07 06:50] davclark commented on #4
sure

[2015-03-07 06:50] #4 closed, assigned to davclark

[2015-03-09 16:52] postfalk commented on #21
@davclark that is the agenda for tomorrow. Anything else we should talk about it, yes we are starting at 3pm.

[2015-03-09 17:41] davclark opened #36 "Keep in sync with U Washington!"
Here's the latest from Bill Howe (via Dan Halperin):

From our discussion yesterday, here are some companies that do beacons.

(Where it was obvious, I provided links to the SDKs/APIs rather than the home pages.)

http://www.smartbeacon.eu/platform-api/
http://estimote.com/api/
http://gimbal.com/

http://buyibeacons.com/

There's some trouble brewing because Apple is being Apple and trying to diff

[2015-03-09 17:42] davclark commented on #36
I asked how they get buy-in for this kind of thing also...

[2015-03-09 19:00] davclark commented on #21
I was pinging you because it wasn't on the calendar! For example, this means room C was not reserved. But on the upside, I reserved room B (B=big).

[2015-03-09 19:12] postfalk commented on #21
Oh sorry, I did not update the calendar. I should copy all these things to
the glass-beads calendar.
Did you read about my success with the blue-tooth. I think the cheap
modules still need pairing but it can be easily done from Python.
I hope to get a chance to implement this tomorrow.

That is where I am at (requires still manual setup of the bluetooth
connection).
https://gist.github.com/postfal

[2015-03-10 23:59] postfalk commented on #21
https://learn.adafruit.com/photocells

[2015-03-11 00:40] postfalk commented on #21
Here is the math

http://home.roboticlab.eu/en/examples/sensor/photoresistor

[2015-03-11 17:38] KishPatel1996 opened #37 "Look into Apple iOS Developer Program"
https://developer.apple.com/programs/ios/university/

[2015-03-11 18:04] postfalk commented on #21
https://en.wikipedia.org/wiki/I%C2%B2C

[2015-03-11 18:04] #21 closed, assigned to nobody

[2015-03-11 23:57] davclark commented on #35
Moved to [data-reflector](/glass-bead-labs/data-reflector/issues/2).

[2015-03-11 23:57] #35 closed, assigned to nobody

[2015-03-11 23:58] davclark commented on #18
Kevin sent these, and is handling this.

[2015-03-11 23:58] #18 closed, assigned to davclark

[2015-03-11 23:59] davclark commented on #19
This was sent off. Open a new issue for more work on this.

[2015-03-11 23:59] #19 closed, assigned to nobody

[2015-03-12 16:40] postfalk commented on #19
Dav,

The last message was flagged as suspicious in my gmail account. Do you
thing that is something normal about git or is something else going on? I
just had to struggle with a Trojan yesterday.

Falk

On Wed, Mar 11, 2015 at 4:59 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

Univer

[2015-03-12 18:20] postfalk opened #38 "Find date to meet /w Collin Bode (BiGCB field station sensors)"

[2015-03-12 21:42] KishPatel1996 commented on #29
This issue was moved to glass-bead-labs/data-connector#2

[2015-03-12 21:42] #29 closed, assigned to nobody

[2015-03-12 23:33] postfalk opened #39 "Publish code for light sensor in a gist"
@KishPatel1996 Could you please create a gist and publish the code (or send me the code as email) so that I can update my gist.

Thx

[2015-03-12 23:35] postfalk commented on #39
Sorry did not see your comment.

[2015-03-12 23:35] #39 closed, assigned to KishPatel1996

[2015-03-16 22:09] postfalk commented on #30
Hi,

... a quick update on the Agenda. I did not succeded in creating a very good project structure for the data collector yet. I am still experimenting with a setup over serial that allows for painless and automatic reconnecting, a timed measurement, and error reporting.

For tomorrow, we will work on the dashboard. I think we will mostly connect our d3 example to some real data from ASBase. That

[2015-03-17 04:31] davclark commented on #30
Am I running this, or are you, @postfalk?

[2015-03-17 16:42] postfalk commented on #30
I could run it or you could. I will be there. I could also just help with
the d3.js part and work on my serial part. My comment was more about what I
didn't do over the week and that we will be ok anyways.

What is your preference? I will be happy to lean back.

Falk

On Mon, Mar 16, 2015 at 9:31 PM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Develope

[2015-03-17 23:42] jesscxu commented on #30
http://russet.ischool.berkeley.edu:8080/query/?startTime=2015-02-24

[2015-03-17 23:44] postfalk commented on #30
https://github.com/mbostock/d3/wiki/Requests

[2015-03-18 00:02] postfalk commented on #30
http://bl.ocks.org/postfalk/f0d3ceddd49f0c6fa029

[2015-03-18 00:03] postfalk commented on #30
https://decyborg.wordpress.com/2013/09/08/bluetooth-serial-communication-with-arduino-jy-mcu-bluetooth-and-macbook-pro/

[2015-03-18 00:06] postfalk commented on #30
https://gist.github.com/postfalk/604d667da192a86d8534

[2015-03-18 01:02] postfalk commented on #30
http://www.jeromecukier.net/blog/2011/08/11/d3-scales-and-color/

[2015-03-18 01:46] #30 closed, assigned to nobody

[2015-03-18 23:54] postfalk opened #40 "PostgreSQL introduction 3/31"
I'll put some steps here.

[2015-03-19 00:14] postfalk commented on #40
**Installation**

Documentation is here http://www.postgresql.org/

The installation examples below already include postgis (does not hurt to do load it right from the start).

_Ubuntu_

[code]

_MacOS_

Try :  `http://postgresapp.com/`

You can also install it using homebrew:

[code]

@davclark Any chance to confirm the Mac installation steps? Thx

[2015-03-19 00:47] postfalk commented on #40
**Command line basics**

Use postgres user with peer authentication (peer authentication means that database user and system user have the same name):

[code]

should give you a prompt, exit with

[code]

Use SQL from command line:

[code]

(never forget the ';' which concludes a SQL COMMAND, beware of SQL injection,
http://hackaday.com/2014/04/04/sql-injection-fools-speed-traps-and-clears-your-re

[2015-03-19 00:55] postfalk commented on #40
**Setting up password authentication**

Edit /etc/postgresql/9.3/main/pg_hba.conf as root user, e.g.

`sudo gedit /etc/postgresql/9.3/main/pg_hba.conf`

and add

[code]

... where the permissions are set (in this case, all local users can access all local databases via password authentication). _However_ the user still has to be allowed to access the particular database and table.

Restart the pos

[2015-03-19 01:13] postfalk commented on #40
**Making life easier: pgadmin**

Yes, there is a graphic interface you can use to access your databases. It uses password authentication and the user postgres. At this point postgres (using peer authentication) does not have a password. So let's create one ...

[code]

At the prompt

[code]

Change the password to postgres (or anything) and quit with.

[code]

Now you can under _Ubuntu/Debian_

[c

[2015-03-19 17:55] postfalk commented on #40
Whoopsi this is getting long. I am moving it to the wiki.
https://github.com/glass-bead-labs/sensor-group/wiki/Postgresql

[2015-03-20 17:54] postfalk opened #41 "Data Science Fair 5/5"
Hi,

I just talked to Kevin and he encouraged us to create an interesting hands-on demo for the data science fair plus poster which could be presented by our students. Let's talk about this in the afternoon.

Falk

[2015-03-20 21:04] postfalk commented on #31
virtualenv -p /usr/bin/python3 env

[2015-03-20 22:22] postfalk commented on #31
https://ecoengine.berkeley.edu/

[2015-03-24 17:49] #31 closed, assigned to nobody

[2015-03-24 17:50] postfalk commented on #31
@jesscxu Are you still planning on coming in today? I just would like to now and decide where to work today. There is a lot of stuff going on at BIDS.

[2015-03-24 18:16] jesscxu commented on #31
I figured out the problem I had earlier, so I won't be coming in today!

[2015-03-24 18:19] postfalk commented on #31
Ok, thanks. Enjoy spring break.

On Tue, Mar 24, 2015 at 11:16 AM, Jessica Xu notifications@github.com
wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 Mulford Hall
94720 Berkeley, CA

schuetzenmeister@berkeley.edu
1-510-642-4897

[2015-03-25 04:59] davclark commented on #8
Looking at David Culler's site, and cross-correlating with my work on my own raspberry pi stuff, I found this in Lua:

http://eclipse.org/mihini/

I'm thinking lua might be a really good choice for us.

[2015-03-25 18:54] postfalk commented on #8
I am not sure whether we should add Lua. Makes it more complex and I am not
really fond of it. Works well on very small devices (and is part of
OpenWrt) but I am not sure whether our use case actually applies since the
Arduino UNO does not run an embedded Linux (Arduino Yun does) and we have a
full grown computer as gateway device. But of course we could tinker around
with it. But if you want to u

[2015-04-01 01:24] #40 closed, assigned to postfalk

[2015-04-01 01:25] postfalk commented on #32
Tutorial for Sparfun starter kit.

https://www.sparkfun.com/tutorials/273

[2015-04-01 01:25] #32 closed, assigned to nobody

[2015-04-01 17:35] davclark commented on #12
This has been migrated to [the data-reflector issue tracker](/glass-bead-labs/data-reflector/issues/2).

[2015-04-01 17:35] #12 closed, assigned to dianecw

[2015-04-01 17:41] davclark commented on #17
This has been migrated to the [data-connector issue tracker](/glass-bead-labs/data-connector/issues/3).

[2015-04-01 17:41] #17 closed, assigned to dianecw

[2015-04-01 17:45] davclark commented on #3
@davclark and @postfalk need to follow up with suppliers to see where still-unrecieved packages are.

[2015-04-03 20:30] postfalk commented on #33
I played around with www.dataturbine.org today for evaluation. I think we should look further into it. I am not really happy that it uses java over http instead of a RESTful approach. However, I think we should look into it further:

a) people running environmental sensors are using it
b) there are connectors for many devices already available

How would like to look into it further and attach it

[2015-04-03 20:31] postfalk commented on #33
Hoops to jump trough when setting up DataTurbine:

http://unix.stackexchange.com/questions/6127/java-home-not-set-in-script-when-run-using-sudo

[2015-04-04 15:56] postfalk commented on #33
Here is my first successful attempt to create a DataTurbineSource using our little Arduino toy (@dianecw @KishPatel1996 good job soldering).

https://gist.github.com/postfalk/71da72236f024f678736

Please excuse my sloppy Java (really not my language) and connection handling.

[2015-04-06 19:06] postfalk opened #42 "Meeting 4/8"
@KishPatel1996 @jesscxu @dianecw @davclark

I will give the second part of my Postgres introduction at Dlab 356 Barrows Hall

Join if you want. We would skip the planning meeting at 10am and talk about stuff on Tuesday.

Thank you very much,
Falk

[2015-04-07 18:18] postfalk opened #43 "Figure out how NSF NEON fits in"
http://www.nsf.gov/pubs/2015/nsf15064/nsf15064.jsp

[2015-04-07 18:54] postfalk commented on #15
Just took a look at ODK. I think that is a really great project for developing countries exactly because it is build on top what everyone uses anyway (in particular Excel and Google). However, I think the sensor component is in a rather nascent state. Plus it is not restful either.

I am really looking toward a RESTful approach. One option would be to refactor DataTurbine in a way that it can be i

[2015-04-07 18:54] #15 closed, assigned to nobody

[2015-04-07 18:58] postfalk commented on #38
I emailed Collin today.

[2015-04-07 21:19] postfalk opened #44 "Find simple serial protocol to implement om Arduino"
This comes with a Python library on the PC end:
https://github.com/jeroendoggen/Arduino-serial-messaging

https://github.com/UrsusExplorans/SerialControl/

[2015-04-07 23:12] postfalk commented on #33
**Setting up virtualenv in Python**
- Install globally

[code]
- Creating virtualenv

[code]
- Activating

[code]
- Deactivate

[code]
- Install packages with pip (with env activated)

[code]
- Install packages with setup.py (with env activated) use python binary in the env

[code]

See http://docs.python-guide.org/en/latest/dev/virtualenvs/

[2015-04-13 16:28] postfalk opened #45 "4/14/2014 Agenda"
Hey Dav,

Could you take the lead tomorrow to get everyone (including me) started on the server and on MongoDB? Then we could discuss our json schema for the DB in the rest of the time. I am trying to advance the serial protocol question between Arduino and Computer. I also got the Raspi prototype shields.

@KishPatel1996 @dianec @jesscxu maybe you guys could join this discussion what we need to d

[2015-04-13 18:55] davclark commented on #45
Sounds good!

We'll cover the following. Feel free to add questions below:
- Getting onto the server
- accessing mongo from python
- Structure of mongo queries (you know this?)
- Efficiency concerns

[2015-04-21 22:48] postfalk opened #46 "4/21/2015"

[2015-04-21 22:49] postfalk commented on #46
https://github.com/jeroendoggen/Arduino-serial-messaging

[2015-04-24 22:37] postfalk opened #47 "Agenda 4/28/2015 - still putting all together"
This might be what I was locking for.
https://github.com/thijse/Arduino-CmdMessenger

Very much up to date.

Testing now.

[2015-04-29 17:06] #47 closed, assigned to nobody

[2015-04-29 17:07] #46 closed, assigned to nobody

[2015-04-29 17:07] #45 closed, assigned to davclark

[2015-04-29 17:07] #42 closed, assigned to nobody

[2015-04-29 17:16] #2 closed, assigned to nobody

[2015-04-29 17:16] #3 closed, assigned to nobody

[2015-04-29 17:21] #33 closed, assigned to nobody

[2015-04-30 04:04] postfalk opened #48 "Where can I review/edit poster content?"
@davclark Did you start this? Or should I create content using Markdown for now? Sorry for not listening?

[2015-04-30 15:49] davclark commented on #48
I haven't started this. I think this repo is a reasonable place to put things. We can also commit the SVG from Inkscape / Illustrator here. Github has nice SVG diffing capabilities.

[2015-04-30 16:30] postfalk commented on #48
Sounds great.

On Thu, Apr 30, 2015 at 8:49 AM, Dav Clark notifications@github.com wrote:

##

Falk Schuetzenmeister, PhD
Web Application Developer
Geospatial Innovation Facility http://gif.berkeley.edu/

University of California Berkeley
111 Mulford Hall
94720 Berkeley, CA

schuetzenmeister@berkeley.edu
1-510-642-4897

[2015-05-02 19:37] davclark opened #49 "End-of-semester reflections (Spring 2015)"
I put a file in `2015-05-reflections/template.md` for everyone to fill out. Please be as thoughtful as you can, but sooner (i.e., sometime on monday) is better than careful. We might still incorporate some of this feedback into the poster (and almost certainly into a blog post)!

@KishPatel1996 @dianecw @mgalemmo @jesscxu

[2015-05-08 16:42] #48 closed, assigned to davclark

[2015-05-08 16:42] #41 closed, assigned to postfalk

[2015-05-08 16:43] postfalk commented on #37
Status? Close for now?

[2015-05-08 16:43] #8 closed, assigned to nobody

[2015-05-08 16:43] #6 closed, assigned to nobody

[2015-05-08 16:43] #34 closed, assigned to KishPatel1996

[2015-05-08 16:44] #44 closed, assigned to postfalk